#encoding utf-8
\documentclass[a4paper,9pt]{article}
\usepackage{longtable}
\usepackage{multicol}

\usepackage[table]{xcolor}
\definecolor{grayed}{HTML}{E0E0E0}

\topmargin -4cm
\headheight 1cm
\headsep 1cm
\oddsidemargin -2.4cm
\evensidemargin -2.4cm
\textwidth 21.5cm
\textheight 27cm

\newcommand\T{\rule{0pt}{2.6ex}}
\newcommand\B{\rule[-1.2ex]{0pt}{0pt}}
\setlength{\tabcolsep}{1.1ex}
\setlength{\parskip}{0.0in} 

\begin{document}
\begin{multicols}{4}

\footnotesize

\begin{tabular}{|l|crr|}

#set $oldref = -1
#set $row = 0
#for $s,$i in $circuito:
    #if $i.is_a('NovoTrecho')
	\hline
	\end{tabular}
	#if $row > 0
		\vskip 3mm
	#end if
	\rowcolors{1}{grayed}{white}
	\begin{tabular}{|l|crr|}
	\hline
	\multicolumn{4}{|c|}{\textbf{TRECHO $i.number (\$v=$i.speed\$)}} \T \B \\
	\hline
    #elif $i.is_a('Referencia') or $i.is_a('Parcial') or $i.is_a('Neutro'):
        #set $row += 1
        #if $i.is_a('Neutro'):
	    \hline
            #set $spassos = '{\large \\textbf{N}} \\T \\B'
        #else
            #set $spassos = '%i' % ($i.rel_passos)
            #set $sdist = '%i' % ($i.rel_dist)
        #end if
	#set $major = $i.ref_id.split('.')[0]
	#if $major != $oldref
	    \hline
	    #set $oldref = $major
	#end if
	#if $major == $i.ref_id
	    #set $sid = '{\\large \\textbf{%s}} \\T \\B' % ($i.ref_id)
	    #set $stime = '{\\normalsize \\textbf{%s}}' % ($s.abs_time_str)
	#else
	    #set $sid = $i.ref_id
	    #set $stime = '\\textbf{%s}' % ($s.abs_time_str)
 	#end if
	$sid & $stime & $spassos & $sdist \\
	#if  $i.is_a('Neutro')
	    \hline
	#end if
    #end if
#end for

\hline
\end{tabular}
\end{multicols}
\end{document}
## vim: ts=4 sw=4 et
